body {1
	font-family: Arial, sans-serif;
	font-size: 18px;
}
header, footer {
	background-color: yellowgreen;
}
.site-title {
	color: yellow;
}
#my-image {
	box-shadow: 0 0 2px 1px black;
}
.hobbies ul {
	list-style: square;
}

li:nth-child(odd) {
    background-color: teal;
}

nav ul {
    list-style: none;
}
nav a {
    text-decoration: none;
    border: 1px solid green;
	background-color: yellow;
}
nav a:hover, nav a:focus {
	background-color: red;
	color: orange;
}