body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {1
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222222; 
    padding: 20px;
}

.nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 40px;
    height: 40px;
    margin-right: 40px; 
}

.nav-button {
    text-decoration: none;
    color: #c78b07;
    margin: 0 20px;
    font-size: 1.2em;
    transition: 0.3s;
    padding: 10px 20px; 
    display: inline-block; 
}

.nav-button:hover {
    color: #222222;
    background-color: #c78b07; 
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: 40px; 
}

.search-bar {
    padding: 5px 10px;
    border: none;
    font-size: 1.2em;
}

.search-icon {
    display: inline-block;
    margin-left: 5px;
    font-size: 1.2em;
    color: #c78b07;
    cursor: pointer;
    transition: 0.3s;
}

.search-icon:hover {
    color: #222222;
}